<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About Us</h2>
    Experienced in the field of software development. Played major role with technology like HTML, CSS, JavaScript, JQuery, Bootstrap, MaterializeCss, NodeJs, Strapi, Php Core, MongoDB, MySQL, MsSQL, React Native, Angular and proved the ability to work under pressure by taking complete ownership of tasks.<br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

           I enjoy being challenged and working on projects that require me to work outside my comfort and knowledge set, as continuing to learn new languages and development techniques are important to me and the success of my organization. And I have highly skilled in software development and worked with AWS, Azure, Heroku, DigitalOcean, C-Panel and others cloud services.
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>