<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog Harshuj | <%= title %></title>
  <link rel="icon" href="./../assets/icons/favicon1.png" sizes="32x32">  
  <link rel="stylesheet" href="./../assets/css/styles.css">
  <link rel="stylesheet" href="./../assets/components/materialize/dist/css/materialize.min.css"></link>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script type="text/javascript" src="./../assets/components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="./../assets/components/materialize/dist/js/materialize.min.js"></script>
</head>